:root {
    --primary-text-color: #333;
    --secondary-text-color: #666;
    --background-color: #f0f0f0;
    --canvas-background: white;
    --button-bg-color: #4CAF50;
    --button-hover-bg-color: #45a049;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
}

.container {
    text-align: center;
}

h1 {
    color: var(--primary-text-color);
    margin-bottom: 20px;
}

#gameCanvas {
    border: 2px solid var(--primary-text-color);
    background-color: var(--canvas-background);
}

#gameInfo {
    margin-top: 20px;
}

#status {
    font-weight: bold;
    color: var(--secondary-text-color);
}

#restartBtn {
    display: none; /* Standardmäßig ausgeblendet */
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restartBtn:hover {
    background-color: var(--button-hover-bg-color);
}